{% extends 'loginbase.html' %}
{% load static %}
{% block content %}
 <!-- Contact Start -->
 <div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
    
            <h1 class="display-5">You Don't Have An Account Please Register...!!</h1>
        </div>
        <div class="row g-0">
            <div class="col-lg-12">
                <div class="bg-primary h-100 p-5">
                    <form method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                        <div class="row g-3">
                            {% comment %} <div class="col-6">
                         
                                <input type="text" name="Fname" class="form-control bg-light border-0 px-4" placeholder="Your farmtech Name" style="height: 55px;" required >
                            </div>
                            <div class="col-6">
                                {% for i in  fam %}
                                <input type="text"  name="name" value="{{i.name}}" class="form-control bg-light border-0 px-4" placeholder="name" style="height: 55px;">
                                {% endfor %}
                            </div> {% endcomment %}
                            {% for i in vehicle %}
                            <div class="col-12">
                                <label style="color: black;">duration:</label><br>
                                <input type="text" name="duration" value="{{i.duration}}" class="form-control bg-light border-0 px-4" placeholder="duration" style="height: 55px;">
                               
                            </div>
                           
                            
                            <div class="col-12">
                                <label style="color: black;">area:</label><br>
                                <input type="text"  value="{{i.area}}" class="form-control bg-light border-0 px-4 py-3" rows="2"  name="type">
                            </div>
                            
                            <div class="col-12">
                                <label style="color: black;">price:</label><br>
                                <input type="text" value="{{i.amount}}" name="amount" class="form-control bg-light border-0 px-4" placeholder="enter your amount">
                                
                            </div>
                            {% endfor %}
                            <div class="col-12">
                                <label style="color: black;">startdate:</label><br>
                                <input type="date" name="startdate" class="form-control bg-light border-0 px-4" placeholder="enter your amount">
                                
                            </div>
                            <div class="col-12">
                                <label style="color: black;">enddate:</label><br>
                                <input type="date" name="enddate" class="form-control bg-light border-0 px-4" placeholder="enter your total amount">
                                
                            </div>
                            <div class="col-12">
                                <input type="hidden" name="price" class="form-control bg-light border-0 px-4" placeholder="enter your amount">
                                
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3">payment</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% comment %} <div class="col-lg-5">
                <div class="bg-secondary h-100 p-5">
                    <h2 class="text-white mb-4">Get In Touch</h2>
                    <div class="d-flex mb-4">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                            <i class="bi bi-geo-alt fs-4 text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-white">Our Office</h5>
                            <span class="text-white">123 Street, New York, USA</span>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                            <i class="bi bi-envelope-open fs-4 text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-white">Email Us</h5>
                            <span class="text-white">info@example.com</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center" style="width: 60px; height: 60px;">
                            <i class="bi bi-phone-vibrate fs-4 text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-white">Call Us</h5>
                            <span class="text-white">+012 345 6789</span>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}