{% extends 'farmtech/farmtechbase.html' %}
{% load static %}
{% block content %}
 <!-- Team Start -->
 <div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">

            <h1 class="display-5">Rent..!!!</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                       
                        <div class="position-relative" style="box-shadow: 0px 0px 10px rgb(182, 192, 196)"
                        >
                            <img class="img-fluid w-100" src="{% static 'img/team-1.jpg' %}" style="height:300px; width:auto; border-radius:10px"
                            alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Vehicle Rent</h4>
                               
                            </div>
                           
                        </div>
                        <br>
                        <center>
                        <a href="/addvehicle" class="btn btn-danger" style="border-radius:5px;"><i class="fa fa-plus-square" aria-hidden="true"></i>Add</a>
                        
                        <a href="/viewvehiclerent" class="btn btn-danger" style="border-radius:5px;"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                       
                        </center>
                    </div>
                    {% comment %} <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-twitter text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-facebook-f text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative" style="box-shadow: 0px 0px 10px rgb(182, 192, 196)">
                           
                            <img class="img-fluid w-100" src="{% static 'img/team-2.jpg' %}" style="height:300px; width:auto; border-radius:10px"
                            alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Land</h4>
                              
                            </div>
                        </div>
                        <br>
                        <center>
                        <a href="/addland" class="btn btn-danger" style="border-radius:5px;"><i class="fa fa-plus-square" aria-hidden="true"></i>Add</a>
                        <a href="/viewlandrent" class="btn btn-danger" style="border-radius:5px;"><i class="fa fa-eye" aria-hidden="true"></i>View</a>
                        </center>
                      
                    </div>
                    {% comment %} <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-twitter text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-facebook-f text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            {% comment %} <div class="col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{% static 'img/team-3.jpg' %}" alt="">
                            <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                <h4 class="text-white">Farmer Name</h4>
                                <span class="text-white">Designation</span>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-twitter text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-facebook-f text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-linkedin-in text-secondary"></i></a>
                            <a class="btn btn-square rounded-circle bg-white" href="#"><i class="fab fa-instagram text-secondary"></i></a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}